*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.header{
    width: 100vw;
    height: 6vh;
    display: flex;
    align-content: flex-start;
}
.logo{
    padding-top: 0.5vw;
    width: 20vw;
}
.menu{
    width: 60vw;
    height:auto;
}
.menuright{
    padding-left: 10vw;
    width:40vw;
    height:6vh;
    display: flex;
    align-content: flex-end;
    align-self: flex-end;
}
#mainmenu{
    width:100vw;
    display: flex;
    align-content: flex-start;
    justify-content: space-evenly;
}
#searchbar{
    margin-top: 0.5vh;
    margin-left:12vw;
}